
html {
  font-family: 'Exo 2', sans-serif;
}

body {
  background: url('./images/kimon-maritz-181128-min.jpg');
  background-size: cover;
}

h1 {
  font-family: 'Audiowide', cursive;
  font-size: 50px;
  padding-bottom: 10px;
  margin: 25px 0;
}

h3 {
  margin: 12px 0;
  color: #FFF;
}

h4 {
  margin: 4px 0;
  color: #FFF;
}

h5 {
  margin: 2px 0;
  font-weight: 400;
  color: #FFF;
}

#header, #content-container {
  max-width: 1000px;
  margin: 0 auto;
}

#title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#icon-label {
  font-size: 1px;
}

svg {
  margin: 0 5px;
}

#topic-input-container {
  background: rgba(105, 156, 186, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

#topic-text-title {
  padding-bottom: 4px;
}

#topic-label, #topic-input, #topic-add-btn {
  margin: 0 10px;
}

#topic-input {
  width: 150px;
  border: none;
  color: #FFF;
  outline-color: rgba(105, 156, 186, 0.9);
  background: rgba(105, 156, 186, 0.15);
  text-indent: 4px;
  padding: 4px;
}

#topic-input::-webkit-input-placeholder {
  text-indent: 4px;
  color: rgba(237, 236, 244, 1);
}

#add-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: 1px solid rgba(105, 156, 186, 0.9);
  height: 20.8px;
}

#add-btn-div:hover {
  background-color: rgba(105, 156, 186, 1);
  cursor: pointer;
}

#add-btn-text {
  margin: 0 5px;
}

.topic-card {
  margin-top: 10px;
}

.topic-title {
  display: flex;
  justify-content: space-between;
  background: rgba(105, 156, 186, 0.7);
}

.topic-title:hover {
  background: rgba(105, 156, 186, 1);
  cursor: pointer;
}

.topic-text {
  margin-left: 20px;
}

.link-qty {
  margin-right: 10px;
}

.form-sort-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(79, 66, 58, 0.5);
  margin-top: 1px;
  padding-bottom: 4px;
  padding-top: 2px;
}

.form-sort-container, .links-container {
  width: 98%;
  margin: 0 auto;
}

.add-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.form-container {

}

.title-container, .url-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.url-text {
  margin-left: 9px;
}

.link-inputs {
  width: 150px;
  border: none;
  color: #FFF;
  outline-color: rgba(79, 66, 58, 0.9);
  background: rgba(79, 66, 58, 0.15);
  text-indent: 4px;
  padding: 4px;
  margin-left: 6px;
}

.link-inputs::-webkit-input-placeholder {
  text-indent: 4px;
  color: rgba(237, 236, 244, 1);
}

.url-input {
  margin-top: 4px;
}

.link-add-btn {
  margin-left: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: 1px solid rgba(79, 66, 58, 0.9);
  height: 20.8px;
}

.link-add-btn h5 {
  margin: 0 5px;
}

.link-add-btn:hover {
  background-color: rgba(79, 66, 58, 1);
  cursor: pointer;
}

.sort-options {
  text-align: center;
  width: 40%;
}

.radio-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-label h5 {
  margin-right: 6px;
}

.radio-popular, .radio-added {
    margin: 3px 0 0 0;
}

.most-pop-text {
  margin-left: 12px;
}

.card-body-hide {
  display: none;
}

.links-container {
  background: rgba(105, 156, 186, 0.8);
  width: 98%;
  margin: 0 auto;
}

.link-container {

}

.link-title, .link-url, .link-clicks {
  display: inline-block;
}

.link-title {
  width: 28%;
  margin-left: 12px;
}

.link-url {
  width: 58%;
}

.link-clicks {
  width: 7%;
  text-align: right;
  margin-right: 7px;
}

@media screen and (max-width: 460px) {
  .link-inputs, #topic-input {
    width: 90px;
  }


}
